@model BankOfSimba.Models.BankAccountList

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ClientList</title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
</head>
<body>
    <h1>Client List</h1>
    <table>
        @{ var index = 0;}
        @foreach (var bankAccount in Model.Accounts)
            {
            <tr style="@((@bankAccount.King) ? "color:red" : "color:black") ">
                <td>@(++index)</td>
                <td>@bankAccount.Name</td>
                <td>@bankAccount.Balance.ToString("0.00 Zebra")</td>
                <td>@bankAccount.AnimalType</td>
                <td>@((@bankAccount.King) ? "King" : "" )</td>
            </tr>
        }
    </table>
</body>
</html>