@model List<AlpagaDictionary.Models.Definition>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./IndexStyleSheet.css" ) />
</head>
<body>
    <h1>Alpaga-Dictionary</h1><br>
    <br />
    <form method="get" action="/user/upload">
        <button type="submit" value="AddNew">Add New Definition</button>
    </form>
    <br />
    <table>
        <thead>
            <tr>
                <td>Definition Name</td>
                <td>Definition Discription</td>
                <td>Created</td>
                <td>Created By</td>
                <td>Last Modified</td>
                <td>Modified By</td>
                <td>Score</td>
                <td>Vote</td>
                <td>Delete</td>
                <td>Edit</td>
            </tr>
        </thead>
        @foreach (var defi in @Model)
        {
            <tr>
                <td>@defi.DefinitionName</td>
                <td>@defi.DefinitonDescription</td>
                <td>@defi.CreateDate</td>
                <td>@defi.CreatedBy</td>
                <td>@defi.ModifiedDate</td>
                <td>@defi.ModifiedBy</td>
                <td>@defi.Score</td>
                <td>
                    <a href="/vote/up/@defi.Id">+</a>
                    <a href="/vote/down/@defi.Id">-</a>
                </td>
                <td>
                    <form action="user/@defi.Id/delete" method="post">
                        <input type="hidden" name="Id" value="@defi.Id" />
                        <button id="table" class="number" type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="user/@defi.Id/update" method="post">
                        <input type="hidden" name="Id" value="@defi.Id" />
                        <button id="table" class="number" type="submit">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <br />
    <br />  
</body>
</html>