@model AlpagaDictionary.Models.Definition

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Edit definition</h1>

        @using (Html.BeginForm("edit", "definition"))
        {
            <input type="hidden" name="id" value="@Model.Id" />
            @Html.LabelFor(x => x.DefinitionName) @Html.TextBoxFor(x => x.DefinitionName)<br />
            @Html.LabelFor(x => x.DefinitonDescription) @Html.TextBoxFor(x => x.DefinitonDescription)<br />

            <button type="submit" value="Submit">Submit</button>
        }
        <h2><a href="">Cancel</a></h2>
  
</body>
</html>
