@model AlpagaDictionary.Models.Definition

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Edit definition</h1>
    <form method="post" action="/user/@Model.Id/edit">
        <div>
            <input type="hidden" name="Id" value="@Model.Id" />
            @Html.LabelFor(x => x.DefinitionName) @Html.TextBoxFor(x => x.DefinitionName)<br />
            @Html.LabelFor(x => x.DefinitonDescription) @Html.TextAreaFor(x => x.DefinitonDescription)<br />  
            @*<input type="hidden" name="CreateDate" value="@Model.CreateDate" />
            <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
            <input type="hidden" name="Score" value="@Model.Score" />*@
            
        </div>
        <br />
        <div>
            <button type="submit" value="Submit">Submit</button>
        </div>
        <br />
        <div>
            <h2><a href="/user">Cancel</a></h2>
        </div>
    </form>
</body>
</html>
